Repository MicrosoftDocs/quantum-docs, pull requests merged in 2022-06, with the labels that each got.

#549 edited provider-quantinuum with link to latest technical specs
  articles/azure-quantum-job-costs.md
  articles/credits-faq.md
  articles/get-started-jupyter-notebook.md
  articles/includes/pricing-qc.md
  articles/includes/quickstart-cirq-include-honeywell-portal.md
  articles/includes/quickstart-cirq-include-quantinuum.md
  articles/includes/quickstart-provider-include-honeywell-portal.md
  articles/includes/quickstart-provider-include-quantinuum.md
  articles/includes/quickstart-qiskit-include-honeywell-portal.md
  articles/includes/quickstart-qiskit-include-quantinuum.md
  articles/provider-quantinuum.md
  articles/provider-support-quantinuum.md
  articles/qc-target-list.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-quantum/svc, core/subsvc

#551 update honeywell references to quantinuum
  articles/get-started-jupyter-notebook.md
  articles/includes/quickstart-cirq-include-honeywell-portal.md
  articles/includes/quickstart-provider-include-honeywell-portal.md
  articles/provider-quantinuum.md
  articles/quickstart-microsoft-cirq-portal.md
  articles/quickstart-microsoft-provider-format-portal.md
  articles/quickstart-microsoft-qiskit-portal.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-quantum/svc, qdk/subsvc

#552 Update quantum workspace creation instructions for "Credits for All" providers
  articles/how-to-manage-quantum-workspaces-with-the-azure-cli.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-quantum/svc, core/subsvc
