Repository MicrosoftDocs/quantum-docs, pull requests merged in 2023-09, with the labels that each got.

#622 Add Jupyter in Prerequisite for QDK Installing
  articles/install-overview-qdk.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-quantum/svc, qdk/subsvc

#623 Fix NWChem links
  articles/user-guide/libraries/chemistry/installation.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-quantum/svc, qsharp-guide/subsvc

#624 Fix NWChem links
  articles/release-notes.md
  articles/user-guide/libraries/chemistry/concepts/symmetries-molecular.md
  articles/user-guide/libraries/chemistry/index.md
  articles/user-guide/libraries/chemistry/installation.md
  articles/user-guide/libraries/chemistry/samples/end-to-end.md
  articles/user-guide/libraries/chemistry/schema/broombridge.md
  articles/user-guide/libraries/index.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-quantum/svc, qsharp-guide/subsvc

#626 Spelling error fix.
  articles/overview-azure-quantum.md
Labels: do-not-merge, Change sent to author, qualifies-for-auto-merge, azure-quantum/svc, core/subsvc
